*{
    margin: 0;
    padding: 0;
    font-family : 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    /* display: fixed; */
    overflow:hidden;
    background: linear-gradient(155deg, #ccfff1, #ec9cf3);
    background-color:rgb(100, 136, 124);
}

.card {
    margin:45px auto;
    width: 90%;
    max-width: 450px;
    padding: 40px 25px;
    border-radius: 20px;
    text-align: center;
    background-color:rgb(255, 255, 255);
}

.search{
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
 border: 0;
 outline: solid;
outline-color: #ec9cf3;
 background: rgb(245, 244, 244);
 font-size: 14px;
 padding: 9px 10px;
 border-radius: 30px;
flex: 1;
margin-right: 16px;
box-shadow: 3;
}
.search button {
    border: 0;
   background: #fff;
   cursor: pointer;
}
.search button img {
    width: 30px;
    height: 30px;
}

#info{
    margin-top: 5px;
    font-size: 13px;
    color: rgb(236, 108, 108);
    display:flex;
    justify-content:left;
}

.initialState img{
    width: 100%;
}

.error{
    display: none;
}

.error img {
    width: 80%;
}

.error h1{
    color: rgb(194, 48, 48);
    margin: 35px;
}
.loader{
    overflow: hidden;  
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
    z-index: 100000;
}

.dot{
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: calc(15px*1);
}

.dot:nth-child(1){
    background-color: rgb(134, 182, 182);
    animation: preloader .7s ease-in-out alternate infinite;
}
.dot:nth-child(2){
    background-color: rgb(231, 125, 205);
    animation: preloader .7s ease-in-out alternate .3s infinite;
}
.dot:nth-child(3){
    background-color: rgb(221, 247, 76);
    animation: preloader .5s ease-in-out alternate .3s infinite;
}
.dot:nth-child(4){
    background-color: rgb(134, 182, 182);
    animation: preloader .7s ease-in-out alternate .5s infinite;
}
.dot:nth-child(5){
    background-color:  rgb(231, 125, 205);
    animation: preloader .7s ease-in-out alternate .8s infinite;
}

@keyframes preloader{
   100%{
    transform: scale(3);
    box-shadow: 10px 10px 22px -2px rgba(0,0,0,0.25)
   }
}

.weather{
    display: none;
}

.weather img {
    margin-top: 10px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 70px;
    font-weight: 500;
    color:#df5deb;
}

.weather h2 {
    font-size: 40px;
    color:rgb(94, 93, 93);
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 60px;
    margin-right: 10px;
}

.col p {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color:rgb(70, 69, 69);
}
